/* PALETTE */

:root {
  --color-primary: #02554a;
  --color-secondary: #787878;
  --color-accent: #f7c617;
  --color-text: #000000;
  --color-text-inverted: #ffffff;
  --color-primary-bg: #ecfdf5;
  --color-secondary-bg: #eeeeee;
  --color-default-bg: #ffffff;
}