@use 'breakpoints' as *;

/**
* NOTA BENE
* usare / per le divisioni è deprecato, utilizzare invece math.div($variable, 4); (dopo un @use "sass:math";)
* https://sass-lang.com/documentation/breaking-changes/slash-div
*/

:root {
	--root-fontsize: 10px;
    --root-lineheight: 1;
    --header-height-mobile: 4.8rem;
    --header-height-desktop: 6.4rem;
    --header-height: var(--header-height-mobile);
    --input-height: 5rem;
    --button-height: 5rem;
    --content-width: 120rem;
    --fitted-height: 77vh;
    --size-s: 0.8rem;
    --size-m: 1.6rem;
    --size-l: 3.2rem;
    --size-xl: 4.8rem;
}

@include breakpoint(tablet-landscape) {
    :root {
        --header-height: var(--header-height-desktop);
    }
}