@use 'breakpoints' as *;

:root {
    --font-size-root: 10px;
    --font-family-primary: 'Montserrat', sans-serif;
    --font-family-secondary: 'Trirong', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @extend %headings !optional;
    font-size: var(--font-size-root);
    font-weight: normal;
    margin: 0;
    line-height: inherit;
}

%font-base {
    font-family: var(--font-family-primary);
    font-weight: 400;
    letter-spacing: 0;
    margin: 0;
}

/* notes */
%font-primary-s {
    @extend %font-base;
    font-size: 1.2rem;
    letter-spacing: 0;
    font-weight: 400;
}

// cta
%font-primary-s-uppercase {
    @extend %font-base;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
}

// basic text
%font-primary-m {
    @extend %font-base;
    font-size: 1.6rem;
    letter-spacing: 0;
    line-height: 1.5;
    font-weight: 400;
    @include breakpoint(tablet-landscape) {
        font-size: 1.8rem;
    }
}

// big UL list
%font-primary-l {
    @extend %font-base;
    font-size: 2rem;
    letter-spacing: 1px;
    line-height: 1.5;
    font-weight: 300;
    @include breakpoint(tablet-landscape) {
        font-size: 2.4rem;
    }
}

// subtitle
%font-primary-xl {
    @extend %font-base;
    font-size: 2rem;
    letter-spacing: 0;
    line-height: 1.5;
    font-weight: 400;
    @include breakpoint(tablet-landscape) {
        font-size: 2.5rem;
    }
}

// block item title / h3
%font-secondary-l {
    font-family: var(--font-family-secondary);
    font-size: 2.4rem;
    line-height: 1.25;
    font-weight: 400;
    @include breakpoint(tablet-landscape) {
        font-size: 3.2rem;
    }
}

// h2
%font-secondary-xl {
    font-family: var(--font-family-secondary);
    font-size: 3.2rem;
    line-height: 1.25;
    font-weight: 400;
    @include breakpoint(tablet-landscape) {
        font-size: 5.4rem;
    }
}

// h1
%font-secondary-xxl {
    font-family: var(--font-family-secondary);
    font-size: 4.2rem;
    line-height: 1.25;
    font-weight: 400;
    @include breakpoint(tablet-landscape) {
        font-size: 6rem;
    }
}

@mixin multiline-crop($lines: 2) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
}

%list-cool {
    @extend %font-primary-l;
    list-style-position: outside;
    padding-left: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    li {
        position: relative;
        counter-increment: li;
        &::marker {
            display: none;
            content: "";
        }
        &::before {
            content: '';
            width: 0.8rem;
            height: 0.8rem;
            background-color: var(--color-primary);
            border-radius: 50%;
            position: absolute;
            left: -2.4rem;
            top: 1.2rem;
        }
    }
    &:is(ol) {
        counter-reset: li;
        li {
            &::before {
                background-color: var(--color-accent);
            }
            &::after {
                content: counter(li);
                color: var(--color-primary);
                position: absolute;
                top: -0.4rem;
                left: -3.2rem;
                width: 2.4rem;
                height: 2.4rem;
            }
        }
    }
}

@mixin badge($color: var(--color-accent), $bg: var(--color-text-inverted)) {
    background-color: $bg;
    color: $color;
    padding: 0.4rem 1.2rem;
    border-radius: 0.4rem;
    line-height: 1;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    height: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    
}