@use 'breakpoints' as *;

/**
* Visually hidden element property
* to manage hidden elements that keep existing in the DOM
*/
%visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

%visually-unhidden {
    visibility: visible;
    width: auto;
    height: auto;
    clip: auto;
}

@mixin dots($gap: 3.6rem, $color: var(--color-accent)) {
    background-image: radial-gradient($color 20%, transparent 20%);
    background-position: -1.2rem -1.2rem, 0 0;
    background-size: $gap $gap;
}

@mixin circle($size: big, $color: var(--color-accent)) {
    @if $size == big {
        width: 12rem;
        height: 12rem;
        @include breakpoint(tablet-landscape) {
            width: 24rem;
            height: 24rem;
        }
    } @else if $size == middle {
        width: 11rem;
        height: 11rem;
    } @else if $size == small {
        width: 6rem;
        height: 6rem;
        @include breakpoint(tablet-landscape) {
            width: 8rem;
            height: 8rem;
        }
    } @else if $size == tiny {
        width: 3.2rem;
        height: 3.2rem;
    }
    display: block;
    border-radius: 50%;
    background-color: $color;
    position: absolute;
    z-index: 0;
}

@mixin gradientLayer($angle: 225deg, $opacity: 0.6, $color: var(--color-text)) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-image: linear-gradient($angle, transparent 0%, $color 100%);
    opacity: $opacity;
}