@use '../helpers' as *;

.section__form {
    .form__item {
        @extend %form_item;
    }
    .form__checkbox {
        display: flex;
        flex-direction: row;
        align-items: start;
        gap: 1.6rem;
        input {
            @extend %visually-hidden;
        }
        &::before {
            content: "";
            width: 2rem;
            height: 2rem;
            border: 1px solid var(--color-text);
            border-radius: 0.2rem;
            display: flex;
            flex-grow: 1;
            flex-shrink: 0;

        }
        &:has(input:checked) {
            &::before {
                content: "✔️";
            }
        }
    }
}