@use '../helpers' as *;

/* dialog {
    display: none;
    position: fixed;
    z-index: zindex(modal);
   &[open] {
    display: flex;
    flex-direction: column;
    }
    &::backdrop {
        background-color: rgba(0, 0, 0, 0.5);
    }
} */

html:has(dialog[open]),
body:has(dialog[open]) {
    overflow: hidden;
}

.modal {
    position: fixed;
    flex-direction: column;
    gap: 2.4rem;
    padding: 2.4rem;
    margin: 1.6rem;
    top: calc(50% - 1.6rem);
    left: calc(50% - 1.6rem);
    transform: translate(-50%, -50%);
    width: 100%;
    max-height: 80vh;
    background-color: var(--color-primary-bg);
    border: none;
    border-radius: var(--size-s);
    max-width: calc(100vw - 3.2rem);
    &[open] {
        display: flex;
    }
    @include breakpoint(tablet-landscape) {
        max-width: 60rem;
    }
    &__title {
        @extend %font-primary-l;
    }
    &__subtitle {
        @extend %font-primary-m;
    }
    &__close {
        position: absolute;
        @extend %cta-reset;
        width: 2.4rem;
        height: 2.4rem;
        top: 1.6rem;
        right: 1.6rem;
        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 2.4rem;
            height: 0.3rem;
            background-color: var(--color-primary);
            border-radius: 0.3rem;
            transform-origin: center center;
        }
        &::before {
            transform: translate(-50%, -50%) rotate(45deg);
        }
        &::after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }
}