@use '../helpers' as *;

.section.section__about {
    background-color: var(--color-primary-bg);
    padding-top: 4.8rem;
    padding-bottom: 4.8rem;
    &::before {
        content: '';
        @include circle();
        top: 0;
        left: 30%;
        transform: translateX(-50%);
        @include breakpoint(tablet-landscape) {
            top: -8rem;
        }
    }
    &::after {
        content: '';
        @include circle(small, var(--color-primary));
        top: -1rem;
        left: 15%;
        transform: translateX(-50%);
    }
    .section {
        &__inner {
            padding: 0;
            @include breakpoint(tablet-landscape) {
                padding: 0;
                flex-direction: row;
                align-items: center;
                text-align: center;
                > * {
                    flex-shrink: 1;
                    flex-grow: 1;
                    flex-basis: 0%;
                }
            }
        }
        &__content {
            padding: 1.6rem;
            gap: 1.2rem;
            @include breakpoint(tablet-landscape) {
                padding: 3.2rem;
                align-items: flex-start;
                text-align: left;
            }
        }
        &__decoration {
            width: 12rem;
            height: 12rem;
            border-radius: 50%;
            background-color: var(--color-default-bg);
            padding: 1.6rem;
            margin: 0;
            border: 1px solid var(--color-secondary-bg);
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        &__listwrapper {
            @extend %scrolling-cards-wrapper;
            @include breakpoint(tablet-landscape) {
                ul {
                   display: grid;
                   grid-template-columns: repeat(2, 1fr);
                   gap: 4.8rem;
                   li {
                    align-items: flex-start;
                    text-align: left;
                   }
                }
            }
        }
    }
}