@use '../helpers' as *;

.section.section__overview {
    margin-top: 6.4rem;
    background-color: var(--color-primary-bg);
    padding-top: 4.8rem;
    padding-bottom: 4.8rem;
    &::before {
        content: '';
        @include circle(middle);
        top: 0;
        right: 5%;
        display: none;
        @include breakpoint(tablet-landscape) {
            display: block;
        }
    }
    &::after {
        content: '';
        @include circle(tiny, var(--color-primary));
        top: -1rem;
        right: 5%;
        transform: translateX(-50%);
        display: none;
        @include breakpoint(tablet-landscape) {
            display: block;
        }
    }
    .section {
        &__title, 
        &__subtitle {
            text-align: center;
        }
        &__content {
            gap: 0.8rem;
        }
        &__copywrapper {
            display: flex;
            flex-direction: column-reverse;
            gap: 2.4rem;
            margin-top: 3.2rem;
            .lengthtoggle {
                @extend %font-primary-s-uppercase;
                @include breakpoint(tablet-landscape) {
                    display: none;
                }
                [type="checkbox"] {
                    @extend %visually-hidden;
                }
                &__labelless {
                    display: none;
                }
                [type="checkbox"]:checked {
                    ~ .lengthtoggle__labelmore {
                        display: none;
                    }
                    ~ .lengthtoggle__labelless {
                        display: inline;
                    }
                }
            }
            .section__text {
                text-align: justify;
                @include breakpoint(tablet-landscape) {
                    columns: 2;
                    gap: 4.8rem;
                }
                p {
                    margin: 0;
                    @include breakpoint(tablet-landscape) {
                        margin-bottom: 1.2rem;
                    }
                }
            }
            &:has(.lengthtoggle [type="checkbox"]:not(:checked)) {
                .section__text {
                    @include breakpoint(tablet-landscape, max) {
                        @include multiline-crop(3);
                    }
                }
            }
            &:has(.lengthtoggle [type="checkbox"]:checked) {
                .section__text {
                    display: flex;
                    flex-direction: column;
                    gap: 1.2rem;
                }
            }
        }
        &__cta {
            margin-top: 4.8rem;
            @extend %cta-secondary;
            width: 100%;
            @include breakpoint(tablet-landscape) {
                grid-area: cta;
                width: fit-content;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}