@use '../helpers' as *;

.infotrigger {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 1000;
    cursor: pointer;
    width: 6rem;
    height: 6rem;
    @extend %cta-reset;
    background-color: var(--color-accent);
    border-radius: 50%;
    background-image: url(../img/info.png);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    &:hover {
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
        animation: rotate 10s linear infinite;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.infomodal {
    .section__form {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
    }
}